package ${packageName};

import ${entityPackage}.${className};
import ${dtoPackage}.${className}DTO;
import ${formPackage}.${className}Form;
import io.github.atom.kernel.common.mapstruct.ExtendConverter;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

/**
 * <p> ${comment}对象转换器 </p>
 *
 * @author ${author}
 * @version ${version}
 * @email "mailto:${author}@${email}"
 * @date ${date}
 * @since ${version}
 */
@Mapper
public interface ${className}Converter extends ExtendConverter<${className}Form, ${className}DTO, ${className}> {

    /** 实例 */
    ${className}Converter INSTANCE = Mappers.getMapper(${className}Converter.class);
}
