package ${packageName};

import io.github.atom.kernel.common.base.BaseQuery;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;
import lombok.ToString;
import lombok.experimental.Accessors;
import lombok.experimental.SuperBuilder;

import java.io.Serial;
#foreach($import in $imports)
import ${import};
#end

/**
 * <p> ${comment}分页查询参数实体 (根据业务需求添加字段) </p>
 *
 * @author ${author}
 * @version ${version}
 * @email "mailto:${author}@${email}"
 * @date ${date}
 * @since ${version}
 */
@Data
@SuperBuilder
@NoArgsConstructor
@AllArgsConstructor
@Accessors(chain = true)
@ToString(callSuper = true)
@EqualsAndHashCode(callSuper = true)
@Schema(name = "${comment}-查询")
public class ${className}Query extends BaseQuery<Long> {
    /** serialVersionUID */
    @Serial
    private static final long serialVersionUID = 1L;

## ----------  BEGIN 查询字段循环遍历  ----------
#if($queryFields && $queryFields.size() > 0)
#foreach($field in $queryFields)
#if("$!field.comment" != "")
    /** ${field.comment} */
    @Schema(description = "${field.comment}")
#else
    @Schema(description = "${field.fieldName}")
#end
#if($field.rules.atomEnum)
    private ${field.rules.atomEnum.name} ${field.fieldName};
#else
    private ${field.fieldType} ${field.fieldName};
#end

#end
#else
    /** todo: [自动生成的字段, 避免此实体没有字段导致启动失败的问题, 可删除] */
    @Schema(description = "自动生成的字段, 需要删除!!!")
    private String autoField;
#end
}
